

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  #logo{
font-family: 'Poppins', sans-serif;
}
</style>
<section style="padding-top: 100px;">
   <div id="carouselExampleIndicators" class="carousel slide col-md-12" data-ride="carousel">
  <ol style="cursor: pointer;" class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://www.reliancedigital.in/medias/Samsung-Galaxy-M51-CLP-Banner-13-10-2020.jpg?context=bWFzdGVyfGltYWdlc3wxNjg4MjB8aW1hZ2UvanBlZ3xpbWFnZXMvaDE5L2hlNy85NDAyNTM1MTE2ODMwLmpwZ3xiNDZkMTg1MjI3YWQzNTM1ZTY2MGQ5NGY0MDgxMTNmZmQyYTQyOTE0YWFkYTg2YzA2NmY4MGFmZWIyMWIxZGM3" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.reliancedigital.in/medias/Redmi-9-Pro-Max-Home-Page-Banner-11-09-2020.jpg?context=bWFzdGVyfGltYWdlc3w1NjU5NnxpbWFnZS9qcGVnfGltYWdlcy9oY2MvaDBhLzkzODIzMDE0OTk0MjIuanBnfDhkMzg2OWZhNGQ0N2E0NDI5ZDdkZGU0MDI2YzJmOTgxM2Q1YjdiMTU0OWQxZjUwYzI0ZTczZGM3YWQ5OTE3Zjk" alt="Second slide">
    </div>
          <div class="carousel-item">
      <img class="d-block w-100" src="https://www.reliancedigital.in/medias/Apple-iPhone-12-Home-Page-Banner-Available-now-27-10-2020.jpg?context=bWFzdGVyfGltYWdlc3wzMzgxNHxpbWFnZS9qcGVnfGltYWdlcy9oN2UvaDFmLzk0MTI5NjU0NjYxNDIuanBnfDBhZjNhZTFkNjNkMmIwM2RkZTQ0Zjc4NWFlOWJkNGRhNjJlYTM5MmNmMzE2YzEzZDJiOWIwMGRiNGI2NGU0OTY" alt="Second slide">
    </div>
          <div class="carousel-item">
      <img class="d-block w-100" src="https://www.reliancedigital.in/medias/Samsung-M-Series-Home-Page-Banner.jpg?context=bWFzdGVyfGltYWdlc3wxMDE2NjR8aW1hZ2UvanBlZ3xpbWFnZXMvaDQ4L2g1OC85NDAxOTU2NjMwNTU4LmpwZ3w1YjhkNzYyZjdjNDVhZTViMjU4M2E3MTgwYTgyZWNlOTU2NDM5N2EyOWY5YzJmOWFmMzE2MTUzOWRhYTcwZGY1" alt="Second slide">
    </div>
          <div class="carousel-item">
      <img class="d-block w-100" src="https://www.reliancedigital.in/medias/Apple-iPhone-12-Pro-Home-Page-Banner-Available-now-27-10-2020.jpg?context=bWFzdGVyfGltYWdlc3wzMzE4MXxpbWFnZS9qcGVnfGltYWdlcy9oOWEvaGYwLzk0MTI5NjU2NjI3NTAuanBnfGNmNmVmOTE3NmM3YTc4NzZjMDdjZTE2OWIxODdjNGFkMjE1MTdhNzM4MWFmMmZjZjc4NjU4MzgzMzA5Mzk4ZmQ" alt="Second slide">
    </div>
  </div>

  </div>

</section>


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
  	<link rel="stylesheet" href="../cards/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="../cards/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="../cards/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="../cards/css/theme-default.css">
	<link rel="stylesheet" href="../cards/css/paymentfont.min.css">
	<link rel="stylesheet" href="../cards/css/main.css">
</head>

<body>
	<!-- app -->

<div class="row">
          {{#each products}}
  <div class="col-md-3">
		<section class="section" id="catalog">
			<div class="container-fluid">
				<transition-group>
						<div class="product col-12">
							<div class="product__img">
								<center><img style="height: 140px; width: auto;" src="/product-images/{{this._id}}.jpg" alt=""></center>
							</div>
<h3 style="color: #fb641b; font-size: 20px;" class="mt-3 product__title">{{this.Name}}</h3>
              <h3 class="product__Description">{{this.Description}}</h3>
							<span style="color: #388e3c; font-size: 16px;"  class="product__price"><b>₹ {{this.Price}}</b></span>
							<button onclick="addToCart('{{this._id}}')" class="product__add" type="button">
								<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke-miterlimit:10;stroke-width:32px'/><line x1='256' y1='176' x2='256' y2='336' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><line x1='336' y1='256' x2='176' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg>
							</button>
						</div>
				</transition-group>
			</div>
		</section>

	</div>
          {{/each}}
  </div>
</body>






